<section>
  <h1>About Me</h1>
  <p><img src="/images/ja.jpg" style="float:left;margin:5px;border-width:0px"/>
  Author of "Mockito Instant" and "Mockito Cookbook" books. OSS Contributor. Co-founder of the Warsaw Groovy User Group and Warsaw Cloud Native Meetup.
  </p>

  <p>
  Lead of <a href="https://cloud.spring.io/spring-cloud-sleuth/">Spring Cloud Sleuth</a>, <a href="https://cloud.spring.io/spring-cloud-contract/">Spring Cloud Contract</a> and <a href="https://cloud.spring.io/spring-cloud-pipelines/">Spring Cloud Pipelines</a> projects at <a href="http://spring.io">Pivotal</a>
  </p>

  <p>
  Contributed to Groovy, Mockito, Rest-assured, Drools, Moco. Author of Uptodate Gradle plugin, Spock subjects-collaborators extension, gradle-test-profiler, JSONAssert and XMLAssert open source projects.
  </p>
  
  <p>Github profile</p>
  <p><a href="https://github.com/marcingrzejszczak">https://github.com/marcingrzejszczak</a></p>

  <p>Lanyrd profile</p>
  <p><a href="http://lanyrd.com/profile/marcin-grzejszczak">http://lanyrd.com/profile/marcin-grzejszczak</a></p>

  <p>Twitter profile</p>
  <p><a href="https://twitter.com/MGrzejszczak">@MGrzejszczak</a></p>

  <p>Goodreads account</p>
  <p><a href="https://www.goodreads.com/author/show/7284553.Marcin_Grzejszczak">https://www.goodreads.com/author/show/7284553.Marcin_Grzejszczak</a></p>
</section>
