<section>
  <h1>About Me</h1>
  <p><img src="/images/ja.jpeg" style="float:left;margin:5px;border-width:0px"/>
  Author of <a href="https://www.packtpub.com/application-development/instant-mockito">"Mockito Instant"</a> and <a href="https://www.packtpub.com/application-development/mockito-cookbook">"Mockito Cookbook"</a> books. OSS Contributor. Co-founder of the Warsaw Groovy User Group and <a href="www.meetup.com/Warsaw-Cloud-Native-Meetup/">Warsaw Cloud Native Meetup</a>.
  </p>

  <p>
  Lead of <a href="https://cloud.spring.io/spring-cloud-sleuth/">Spring Cloud Sleuth</a>, <a href="https://cloud.spring.io/spring-cloud-contract/">Spring Cloud Contract</a> and <a href="https://cloud.spring.io/spring-cloud-pipelines/">Spring Cloud Pipelines</a> projects at <a href="http://spring.io">Pivotal</a>
  </p>

  <p>
  Contributed to Groovy, Mockito, Rest-assured, Drools, Moco. Author of <a href="https://github.com/marcingrzejszczak/uptodate-gradle-plugin">Uptodate Gradle plugin</a>, <a href="https://github.com/marcingrzejszczak/spock-subjects-collaborators-extension/">Spock subjects-collaborators extension</a>, <a href="https://github.com/marcingrzejszczak/gradle-test-profiler">gradle-test-profiler</a>, <a href="https://github.com/marcingrzejszczak/jsonassert">JSONAssert</a> and <a href="https://github.com/marcingrzejszczak/xmlassert">XMLAssert</a> open source projects.
  </p>

  <p><a href="https://github.com/marcingrzejszczak">Github profile</a></p>

  <p><a href="http://lanyrd.com/profile/marcin-grzejszczak">Lanyrd profile</a></p>

  <p><a href="https://twitter.com/MGrzejszczak">Twitter: @MGrzejszczak</a></p>

  <p><a href="https://www.goodreads.com/author/show/7284553.Marcin_Grzejszczak">Goodreads account</a></p>
</section>
