---
layout: page
title: "Talks"
date: 2017-01-02 16:35
comments: true
sharing: true
footer: true
---
<link href="{{ root_url }}/assets/flags/css/flag-icon.min.css" rel="stylesheet" type="text/css">

<p>
  Here you can find a list of the talks that I've given (to most of them)
</p>

<p>
  Stats:
  <ul>
    <li>gave <b>{{ site.data.talks.size }}</b> talks</li>
    {% assign talksPerCountry = site.data.talks | group_by:"countryCode" %}
    <li>in <b>{{ talksPerCountry | size  }}</b> countries ( {% for country in talksPerCountry %} <span class="flag-icon flag-icon-{{country.name}}"></span> {% endfor %})</li>
    <li>in <b>{{ site.data.talks | group_by:"city" | size  }}</b> cities</li>
  </ul>
</p>

<table class="table table-bordered table-hover table-responsive table-striped">
  <thead>
    <tr class="bg-primary">
      <th>#</th>
      <th>Date</th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Talk title</th>
      <th>Resources</th>
    </tr>
  </thead>
  <tbody>
    {% assign talksByDate = site.data.talks | sort: "date" | reverse %}
    {% for talk in talksByDate %}
    <tr>
      <th scope="row">{{ forloop.index }}</th>
      <td>{{ talk.date }}</td>
      <td>{{ talk.eventName }}</td>
      <td>{{ talk.city }}</td>
      <td>{{ talk.country }}</td>
      <td>{{ talk.talkTitle }}</td>
      <td>
        <ul>
        {% for resource in talk.resources %}
          <li>{{ resource }}</li>
        {% endfor %}
      </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
